* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto Slab", serif;
  width: 100%;
  max-width: 1400px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
}

.header-section {
  width: 100%;
}


.header-image-container img{
  width: 100%;
  height: 100%;
}



.hamburger-image-container {
  position: fixed;
  top:30px;
  right: 30px;
}
.material-symbols-outlined{
  font-size: 35px;
}

.nav-bar-menu {
  list-style-type: none;  
  display: flex;

}
.nav-bar-menu-item {
  width: 100%;
  text-align: center;
}


.function-bar-section h2 {
  font-weight: 400;
}


.footer-section {
  position: fixed;
  bottom: 0;
}

.footer-section a{
  color: #fff;
  text-decoration:none;
}
/*General Classes*/
.flexrow {
  display: flex;
  flex-direction: row;
  
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.alignCenter {
  align-items: center;
}
.justifyBtwn {
   justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.gap30 {
  gap:30px;
}




/*Effects and Animations*/

.highlightOnHover {
  
}